<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add to Apple Wallet</title>
</head>
<body>

<p><a href="/wallet/v1/passes/{{passTypeIdentifier}}/{{serialNumber}}"><img src="/images/Add_to_Apple_Wallet_rgb_US-UK.svg" alt="Add to Apple Wallet" width="110" height="34"></a></p>

</body>
<html>
