<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add to Apple Wallet by scanning barcode using iPhone</title>
</head>
<body>

<h1>Add to Apple Wallet</h1>

<p>If you have an iPhone, you can add a pass to Apple Wallet. The pass can speed up the process of checking in when you arrive for your appointment.</p>

<p>To add the pass, open the Wallet app on your iPhone, click on the plus button at the top of the "Passes" section, then tap on "Scan Code to Add a Pass". Position the barcode below in view on your iPhone screen to scan the barcode. Then confirm adding the pass by clicking "Add" in the top right corner of your iPhone screen.</p>

<p><img src="/barcode.png?id={{serialNumber}}" alt="Scan this barcode using the Apple Wallet app on your iPhone to add a pass for your appointment to Apple Wallet. This will allow for easy and fast checkin when you arrive for your appointment."></p>

</body>
<html>
